# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Editor settings
.vscode/
.idea/
*.swp

# Environment files
.env

# Build output
dist/
build/
